<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Athna.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5F73C4ED1DD132A2000F31D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F73C5031DD132A3000F31D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F73C50E1DD132A3000F31D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
